Body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  background-color: fuchsia;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  
}

nav a {
  color: aqua;
  text-decoration: none;
  
}

nav a.selected{
  border: solid 3px black;
  padding: 0.5rem;
}
